.fixed-plugin .badge {
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-right: 5px;
  position: relative;
  width: 23px;
  background-color: rgba(30, 30, 30, 0.97); }

.fixed-plugin .badge-orange {
  background-color: #ff9800; }

.fixed-plugin .badge-blue {
  background-color: #3c883f; }

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed; }

.table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em; }

.table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em; }

.table th,
.table td {
  padding: .625em;
  text-align: center; }

.table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase; }

@media screen and (max-width: 600px) {
  .table {
    border: 0; }
  .table caption {
    font-size: 1.3em; }
  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }
  .table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  .table td:last-child {
    border-bottom: 0; } }

.Card-card-119.myIndextop {
  z-index: 99; }

@media (min-width: 960px) {
  .MuiGrid-grid-md-6-208 {
    flex-grow: 0;
    max-width: 100% !important;
    flex-basis: 100% !important; } }

.cardClass .RegularButton-button-244, .cardClass .RegularButton-button-289 {
  width: 95px !important;
  margin: .3125rem 2px;
  padding: 8px 26px; }

.myIndextop .CardBody-cardBody-136 {
  background: #323232; }

.cartBox {
  min-height: 150px;
  background: #fff;
  text-align: center;
  margin-top: 20px; }

.loginArea .RegularButton-button-244 {
  margin: .3125rem 5px;
  cursor: pointer;
  padding: 6px 20px; }

h4.block-title {
  color: #000; }

.hoverWrapper:hover .hoverShow1 {
  display: block; }

.hoverWrapper .hoverShow1 {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 250px;
  height: 250px;
  left: 0px;
  top: 75px; }
